@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*-- Body --*/
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  font-size: 3.13rem;
  background: linear-gradient(to top, #cdb4db, #cdb4db, white);
  color: #632f0b;
  text-transform: uppercase;
  font-weight: bold;
}

/* BOTONES */
.botonGeneral {
  background-color: #b14f09;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  transition: background-color 0.3s ease;
}
.botonGeneral:hover {
  background-color: #c86b29;
}

.fondo-logo {
  background-color: black;
}
.fondo-logo .logo {
  display: block;
  margin: auto;
  width: 30%;
  height: 20%;
}

.lista-header {
  display: block;
  text-align: center;
  background-color: #cdb4db;
  font-size: 20px;
}
.lista-header li {
  margin: 0px 20px;
  transition: background-color 0.3s ease;
}
.lista-header li:hover {
  background-color: rgb(243, 159, 243);
  border-radius: 5px;
  border-bottom: solid 1px black;
  font-weight: 500;
}

.secciones {
  margin: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.secciones .caja-de-texto {
  font-size: 20px;
  text-align: justify;
  margin-top: 10px;
  background-color: #cdb4db;
  line-height: 30px;
  padding: 10px;
  color: #632f0b;
  border-radius: 5px;
}
.secciones .caja-imagen {
  height: 320px;
  text-align: center;
}
.secciones .subtitulo, .secciones .tarjeta .ubicacion, .tarjeta .secciones .ubicacion {
  text-align: start;
  font-size: 2.5rem;
  padding: 10px;
  color: #632f0b;
  font-weight: bold;
}

.footer {
  display: grid;
  display: inline-block;
  background-color: #cdb4db;
  width: 100%;
  font-weight: 500px;
  list-style-type: none;
}
.footer li {
  margin: 0px 20px;
  transition: background-color 0.3s ease;
}
.footer li:hover {
  background-color: rgb(243, 159, 243);
  border-radius: 5px;
  border-bottom: solid 1px black;
  font-weight: 500;
}
.footer .footerCompany {
  padding-left: 5rem;
}

.container-fluid {
  padding: 0;
}

.subtitulo, .tarjeta .ubicacion {
  text-align: start;
  font-size: 2.5rem;
  padding: 10px;
  color: #632f0b;
  font-weight: bold;
}

.contenedorFormulario {
  text-align: center;
  border-radius: 3px;
  border: gray solid 2px;
  margin: auto;
  background-color: #fff4f2;
}
.contenedorFormulario .leyendaForm {
  font-size: 1.8rem;
  font-weight: bold;
  color: #632f0b;
  margin-bottom: 1rem;
}
.contenedorFormulario .camposForm {
  display: inline;
  margin-right: 1.2rem;
  background-color: #f0c0b8;
  border-radius: 5px;
  border: none;
  width: 18.8rem;
  height: 2.5rem;
}
.contenedorFormulario .campoMensaje {
  width: 75%;
  background-color: #f0c0b8;
  border: none;
}
.contenedorFormulario label {
  color: #632f0b;
  font-weight: bold;
}
.contenedorFormulario .contenedorCampos {
  margin-bottom: 30px;
}

.contenedorRedes {
  display: flex;
  justify-content: center;
}
.contenedorRedes .logoRedes {
  width: 100px;
  height: 100px;
  margin: 30px 50px;
}

.texto {
  font-size: 20px;
  color: #632f0b;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.imagenCompras {
  width: 100%;
  height: 500px;
}

.tarjeta {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px #FF6347 solid;
  gap: 1.5rem;
}
.tarjeta .mapas {
  width: 70%;
  height: 450px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.tarjeta .ubicacion {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}
.tarjeta .ubicacionTexto {
  font-size: 20px;
  text-align: justify;
  margin-top: 10px;
  background-color: #cdb4db;
  line-height: 30px;
  padding: 10px;
  color: #632f0b;
  border-radius: 5px;
}

.headerGuia {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 30px auto;
}

.gridGuia {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 0.8fr);
  text-align: start;
  margin: 20px auto;
  max-width: 800px;
  border: solid black 2px;
  border-radius: 5px;
  background-color: #dec5ee;
}
.gridGuia .talle div {
  text-align: center;
  padding: 8px 10px;
  font-size: 20px;
  font-weight: bold;
  border: black solid 1px;
}

.formularioAsesor {
  margin-bottom: 25px;
  margin-top: 25px;
}

.contenedorProductos {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 15px;
}
.contenedorProductos .contenedorItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  background-color: #fff8f8;
}
.contenedorProductos .item {
  object-fit: cover;
  width: 100%;
  height: 480px;
  margin-bottom: 8px;
}
.contenedorProductos .tituloItem {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
}
.contenedorProductos .descripcionItem {
  font-size: 18px;
  margin-bottom: 8px;
}

/*HEADER*/
@media (max-width: 700px) {
  h1 {
    font-size: 1.5rem;
  }
}
/*PRODUCTOS*/
@media (max-width: 400px) {
  .contenedorProductos {
    grid-template-columns: 100%;
    gap: 5px;
  }
}
@media (min-width: 401px) and (max-width: 1000px) {
  .contenedorProductos {
    grid-template-columns: repeat(2, 50%);
  }
}
/*QUERIES ASESORIAS*/
@media (min-width: 300px) {
  .headerGuia {
    font-size: 25px;
  }
  .gridGuia {
    grid-template-columns: 1fr repeat(4, 0.5fr);
    max-width: auto;
  }
}
/*SHOWROOMS*/
@media (max-width: 900px) {
  .tarjeta {
    flex-direction: column;
  }
  .mapas {
    width: 70%;
    gap: 0;
    text-align: center;
  }
}

/*# sourceMappingURL=estilo.css.map */
