* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-- Body --*/

.fondo-general {
    background-color: #FFEFD5;
    background-image: url(../imagenes/fondo-general.jpg);
    background-size: cover;
}

/*-- Header --*/

.fondo-logo {
    background-color: black;
}

.logo {
    display: block;
    margin: auto;
    width: 20vw;
    height: 10vw;
}

.lista-header {
    text-align: center;
    background-color: #cdb4db;
    font-weight: 500;
}

/*-- Footer --*/
.footer {
    background-color: #cdb4db;
    width: 100%;
    font-weight: 500;
}

/* -- Index -- */

h1 {
    text-align: center;
    font-size: 2.8vw;
    background-color: #cdb4db;
    color: #632f0b;
    border-top: 2px #632f0b solid;
}

.contenedorInicial {
    display: grid;
}

.caja-de-texto {
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif; /*AGREGAR FUENTES NUEVAS*/
    text-align: justify;
    width: 52vw;
    margin-top: 10px;
    background-color: #cdb4db;
    line-height: 30px;
    padding: 10px;
    color: #632f0b;
}

.caja-imagen {
    width: 45vw;
    height: 450px;
    text-align: center;
}

.subtitulo {
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2vw;
    padding: 10px;
    color: #632f0b;
    font-weight: bold;
}

.final {
    width: 100%;
    height: 38vw;
}

.imagenCarrusel {
    height: 35vw;
}

/* -- Contacto --*/

.cuatro-texto,
label,
textarea {
    display: block;
    margin-top: 15px;
}

.boton-enviar {
    display: block;
    margin-top: 15px;
    background-color: #FF6347;
}

.caja-enlace-contacto {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.caja-formulario {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    margin-top: 30px;
}

.formulario-contacto {
    width: 150px;
}

/* -- PRODUCTOS / SHOWROOMS -- */

.botonComprar, .botonMapa {
    background-color: #b14f09;
    color: white;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}

.botonComprar:hover, .botonMapa:hover {
    background-color: #c86b29;
}

.precio {
    font-weight: bold;
    display: block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    text-align: center;
}

.descripcion {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

.mapas {
    max-width: 100%;
}