* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/*-- Body --*/

body {
    font-family: 'Dancing Script', cursive;
}

/*-- Header --*/

.fondo-logo {
    background-color: black;
}

.logo {
    display: block;
    margin: auto;
    width: 20%;
    height: 10%;
}

.lista-header {
    display: block;
    text-align: center;
    background-color: #cdb4db;
    font-size: 20px;
}

/*-- Footer --*/
.footer {
    display: grid;
    display: inline-block;
    background-color: #cdb4db;
    width: 100%;
    font-weight: 500px;
    list-style-type: none;
}

/* -- Index -- */

h1 {
    text-align: center;
    font-size: 50px;
    background-color: #cdb4db;
    color: #632f0b;   
}


.caja-de-texto {
    font-size: 100%;
    text-align: justify;
    margin-top: 10px;
    background-color: #cdb4db;
    line-height: 30px;
    padding: 10px;
    color: #632f0b;
}

.caja-imagen {
    height: 320px;
    text-align: center;
}

.subtitulo {
    text-align: start;
    font-size: 40px;
    padding: 10px;
    color: #632f0b;
    font-weight: bold;
}

.final {
    width: 100%;
    height: 500px;
}

/* -- Contacto --*/

.cuatro-texto,
label,
textarea {
    display: block;
    margin-top: 15px;
}

.boton-enviar {
    display: block;
    margin-top: 15px;
    background-color: #FF6347;
}

.caja-enlace-contacto {
    font-size: 30px;
    text-decoration: none;
}

.caja-formulario {
    font-weight: bold;
    display: block;
    margin-top: 30px;
}

.formulario-contacto {
    width: 150px;
}

/* -- PRODUCTOS / SHOWROOMS -- */

.descripcion {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(2, 48%);
    font-family: 'Quicksand', sans-serif;
}

.productos {
    width: 80%;
}

.items {
    width: 100%;
    height: 50%;
}

.botonGeneral {
    background-color: #b14f09;
    color: white;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}

.botonGeneral:hover {
    background-color: #c86b29;
}

.precio {
    font-weight: bold;
    display: block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    text-align: center;
}

.mapas {
    max-width: 100%;
}

/*--ASESORIAS--*/

.casillas {
    width: 50vw;
    height: 5vw;
    background-color: #dec5ee;
    text-align: center;
}

/* -- MEDIAS QUERIES -- */

@media (min-width: 400px) and (max-width: 1200px) {

    .descripcion {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 24%);
        
    }
}
