/*HEADER*/
@media (max-width: 700px) {
    h1 {
        font-size: 1.5rem;
    }
}

/*PRODUCTOS*/
@media (max-width: 400px) {
    .contenedorProductos {
        grid-template-columns: 100%;
        gap: 5px;       
    }
}

@media (min-width: 401px) and (max-width: 1000px) {
    .contenedorProductos {
        grid-template-columns: repeat(2, 50%);        
    }
}

/*QUERIES ASESORIAS*/
@media (min-width: 300px) {
    .headerGuia {
        font-size: 25px;
    }
    .gridGuia {
        grid-template-columns: 1fr repeat(4, 0.5fr);
        max-width: auto;
    }
}

/*SHOWROOMS*/
@media (max-width: 900px) {
    .tarjeta {
        flex-direction: column;
    }

    .mapas {
        width: 70%;
        gap: 0;
        text-align: center;
    }
}